{{> navbar path=path}}

<div style="padding-top: 56px; padding-bottom: 56px;">
    <main class="container my-4">
        {{#each errors as |error|}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/each}}
        {{#each successes as |success|}}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
        {{/each}}

        <div id="cast-controls-root">
            
        </div>
    </main>
</div>

<script src="/cast-controls/build/static/js/main.js"></script>